[Unit]
Description=LB Spring Boot Service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill lb-spring-boot-service
ExecStartPre=-/usr/bin/docker rm lb-spring-boot-service
ExecStartPre=/usr/bin/docker pull 10.10.10.102:5000/vulcand:latest
ExecStart=/usr/bin/docker run --rm --net=host --name=lb-spring-boot-service -p 80:80 -p 8182:8182 10.10.10.102:5000/vulcand \
	-etcdKey="lb-spring-boot-service" \
	-port=80 \
	-apiPort=8182 \
	-apiInterface=0.0.0.0 \
	-interface=0.0.0.0 \
	-etcd=http://10.10.10.101:2379 \
	-etcd=http://10.10.10.102:2379 \
	-etcd=http://10.10.10.103:2379; \

ExecStartPost=/bin/bash -c '\
	echo "Registering configuration to ETCD"; \
	/usr/bin/etcdctl set /lb-spring-boot-service/backends/spring-boot-service-backend-A/backend \'{"Type": "http"}\'; \
	/usr/bin/etcdctl set /lb-spring-boot-service/backends/spring-boot-service-backend-B/backend \'{"Type": "http"}\'; \
	/usr/bin/etcdctl set /lb-spring-boot-service/frontends/stage/frontend \'{"Type": "http", "BackendId": "spring-boot-service-backend-A", "Route": "Host(`stage.codecentric.local`) && PathRegexp(`/.*`)", "Settings": {"TrustForwardHeader": true, "PassHostHeader": true}}\'; \
	/usr/bin/etcdctl set /lb-spring-boot-service/frontends/prod/frontend \'{"Type": "http", "BackendId": "spring-boot-service-backend-B", "Route": "Host(`prod.codecentric.local`) && PathRegexp(`/.*`)", "Settings": {"TrustForwardHeader": true, "PassHostHeader": true}}\'; \
	'

ExecStop=/bin/bash -c '\
	/usr/bin/docker stop lb-spring-boot-service; \
	/usr/bin/etcdctl rm -r /lb-spring-boot-service/frontends; \
	/usr/bin/etcdctl rm -r /lb-spring-boot-service/backends; \
	'
[X-Fleet]
MachineMetadata=node=odroid01
MachineMetadata=node-type=master
