[Unit]
Description=Spring Boot Service - A
Requires=setup-network-environment.service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill spring-boot-service-A-%i
ExecStartPre=-/usr/bin/docker rm spring-boot-service-A-%i
ExecStartPre=/usr/bin/docker pull 10.10.10.102:5000/spring-boot-service:latest
ExecStart=/usr/bin/docker run --rm --name spring-boot-service-A-%i -p :8090 -e DEPLOYMENT_GROUP=A 10.10.10.102:5000/spring-boot-service:latest
ExecStop=/usr/bin/docker kill spring-boot-service-A-%i

[X-Fleet]
MachineMetadata=node-type=worker