html {
	height: 100%;
}

body {
	background: -webkit-linear-gradient(30deg, #2276ad, #6ec654);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(30deg, #2276ad, #6ec654);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(30deg, #2276ad, #6ec654);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(30deg, #2276ad, #6ec654);
	/* Standard syntax */
	background-attachment: fixed;
}

/* Custom container */
.container-fixed {
	margin: 0 auto;
	max-width: 960px;
}

.jumbotron, .navbar, .footer {
	background-color: #ffffff;
}

.footer {
	padding: 20px;
}


.jumbotron h1, .jumbotron .h1 { 
	color: #31708f !important;
}